/* FUNDO GERAL */
body {
  margin: 0;
  padding: 0;
  font-family: "Georgia", serif;
  background: linear-gradient(180deg, #5a1536, #7a254f, #8b2f5f);
}

/* ÁREA PRINCIPAL */
section {
  max-width: 680px;
  margin: 60px auto;
  padding: 35px;
  background: linear-gradient(180deg, #6b1f44, #5a1536);
  border-radius: 26px;
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.5);
}

/* TÍTULOS */
h1 {
  color: #fff0f5;
  font-size: 2.4em;
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  color: #ffd1e3;
  font-size: 1.4em;
  text-align: center;
  margin-top: 45px;
}

/* TEXTO */
p {
  font-size: 17px;
  line-height: 1.75;
  color: #ffe6f0;
  text-align: justify;
  margin: 20px 0;
}

/* IMAGEM */
img {
  display: block;
  margin: 30px auto;
  width: 240px;
  border-radius: 50%;
  border: 7px solid #ffd1e3;
  box-shadow: 0 14px 32px rgba(0, 0, 0, 0.5);
}

/* FRASE EU TE AMO */
.amor {
  background-color: #8b2f5f;
  color: #fff0f5;
  padding: 14px 22px;
  border-radius: 22px;
  text-align: center;
  font-size: 19px;
  font-weight: bold;
  margin: 18px auto 0;
  max-width: 340px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

/* SIM / NÃO */
label {
  background-color: #8b2f5f;
  color: #fff0f5;
  padding: 10px 20px;
  border-radius: 30px;
  margin: 10px;
  display: inline-block;
  font-weight: bold;
}

/* RADIO */
input[type="radio"] {
  accent-color: #ffd1e3;
  transform: scale(1.2);
}

/* MENSAGEM */
#msg {
  background-color: #7a254f;
  padding: 14px 20px;
  border-radius: 20px;
  margin-top: 25px;
  color: #fff0f5;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

/* RODAPÉ */
footer {
  margin: 70px auto 30px;
  text-align: center;
  font-size: 0.9em;
  color: #ffd1e3;
}
